.title-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2em;
  h1 {
    font-size: 3em;
    font-weight: bold;
  }
}

.loading {
  top: 12rem
}
